.cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin-top: 51px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  max-width: 880px;
  margin-top: 51px;
}

@media screen and (max-width: 780px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 480px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 320px) {
  .cards__list {
    margin-top: 0;
    margin-bottom: 48px;
  }
}
